/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url('../assets/fonts/TeX Gyre Heros/texgyreheros-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    height:100vh;
}

header {
    font-size: 1.9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: "Syne", Icons;
    font-style: normal;
    letter-spacing: 0.05rem;
    vertical-align: top;
    padding:15px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: #aaaaaa;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 1.9rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    font-family: "Syne", Icons;
    font-style: normal;
    letter-spacing: 0.05rem;
    vertical-align: bottom;
    padding:15px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #aaaaaa;
}

.project-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-nav-item-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-right:20px;
}

.project-nav-item-middot {
    font-size: 100px;
    line-height: 1.7rem;
}

.project-nav-item-title {
    font-size: 1.9rem;
    font-weight: 700;
    font-family: "Syne", Icons;
    font-style: normal;
    letter-spacing: 0.05rem;
    vertical-align: top;
    color:white;
    background-color: black;
    z-index: 2;
    mix-blend-mode: difference;
}

.project-nav-item-subtitle {
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    font-family: "TeX Gyre Heros", Icons;
    font-style: normal;
    letter-spacing: 0.02rem;
    margin-left: 0.2rem;
    line-height: 1.5rem;
    vertical-align: top;
}

.project-nav-item-image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.project-nav-item-image img {
    height: 100%;
}

.ying-yang-logo {
    height: 1.8rem;
    margin-bottom: 5px;
}

/* (xs) Extra Small devices */
@media (max-width: 550px) {
    header {
        font-size: 0.9rem;
    }
    footer{
        font-size: 0.9rem;
    }
    .ying-yang-logo {
        height: 0.8rem;
        margin-bottom: 5px;
    }
    .project-nav-item-link {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .project-nav-item-middot {
        font-size: 60px;
        line-height: 1.1rem;
        display: none;
    }
    .project-nav-item-title {
        font-size: 1.2rem;
        width: 100%;
        margin: 0;
    }
    .project-nav-item-subtitle{
        font-size: 0.4rem;
        display: none;
    }
}

/* (md) Medium devices (tablets, 768px and up) */
@media (min-width: 551px) {
    header {
        font-size: 1.3rem;
    }
    footer{
        font-size: 1.3rem;
    }
    .ying-yang-logo {
        height: 1.4rem;
        margin-bottom: 5px;
    }
    .project-nav-item-middot {
        font-size: 80px;
        line-height: 1.3rem;
    }
    .project-nav-item-title {
        font-size: 1.5rem;
    }
    .project-nav-item-subtitle{
        font-size: 0.65rem;
    }
}

/* (lg) Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header {
        font-size: 1.9rem;
    }
    footer{
        font-size: 1.9rem;
    }
    .ying-yang-logo {
        height: 1.8rem;
        margin-bottom: 5px;
    }
    .project-nav-item-middot {
        font-size: 100px;
        line-height: 1.7rem;
    }
    .project-nav-item-title {
        font-size: 1.9rem;
    }
    .project-nav-item-subtitle{
        font-size: 0.75rem;
    }
}

/* (xl) Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
